# Redis Configuration

# Bind to all interfaces (you can replace with a specific IP if necessary)
bind 0.0.0.0

# Redis port
port 6379

# Set password for Redis (use the variable passed from the playbook)
requirepass {{ redis_password }}

# Logging settings
loglevel notice
logfile "/var/log/redis/redis-server.log"

# Persistence settings
appendonly yes
appendfsync everysec

# Save database snapshots (optional)
save 900 1
save 300 10
save 60 10000
